<header class="mb-16 relative">
  <nav class="flex items-center justify-between m-4">
    <a href="/"><img src="" alt="Logo" /></a>
    <ul class="flex gap-4 text-xl">
      <li class="hover:underline underline-offset-4 decoration-green-600">
        <a href="/">Home</a>
      </li>
      <li class="hover:underline underline-offset-4 decoration-green-600">
        <a href="/recipes">Recipes</a>
      </li>
      <li class="hover:underline underline-offset-4 decoration-green-600">
        <a href="/contact">Contact</a>
      </li>
      <li class="hover:underline underline-offset-4 decoration-green-600">
        <a href="/login">Sign up</a>
      </li>
    </ul>
  </nav>
</header>
