<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/main.css" rel="stylesheet" />
  <script src="//unpkg.com/alpinejs" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Lora&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css" />
  <script src="jquery.min.js"></script>
  <script src="owlcarousel/owl.carousel.min.js"></script>
</head>
