<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Error 500 | Taste Treasure</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main>
      <div class="content text-center">
        <img
          src="img/500-pirate-removebg.png"
          alt="Confused pirate with question marks around him"
          class="w-96"
        />
        <h1 class="text-6xl">500</h1>
        <p class="text-2xl mb-6">
          Arrr, shiver me timbers!<br />Something went wrong...
        </p>
        <div class="flex items-center gap-6 space-x-6">
          <a href="/" class="button py-4">Back to homepage</a>
          <a
            href="/contact"
            class="text-green-600 font-semibold hover:text-green-700 transition-colors text-xl"
            >Contact us &rarr;</a
          >
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
