<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Login | Taste Treasure</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main>
      <div class="content">
        <h1>Login</h1>
        <div class="flex flex-col">
          <label for="username">Username</label>
          <input type="text" />
        </div>
        <div class="flex flex-col">
          <label for="password">Password</label>
          <input type="password" />
        </div>
        <div>
          <input type="submit" value="Login" />
        </div>
        <div></div>
      </div>
    </main>

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
