<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Login | Taste Treasure</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main>
      <div class="content">
        <h1>Login</h1>
        <form action="/login" method="post">
          <div class="flex flex-col mb-6">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              autocomplete="username"
            />
          </div>
          <div class="flex flex-col mb-6">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              autocomplete="current-password"
            />
          </div>
          <div class="mb-6">
            <input type="submit" value="Login" class="button" />
          </div>
        </form>

        <div class="w-96 items-center flex flex-col">
          <p class="mb-6">
            Dont have an account?
            <a
              href="/registration"
              class="text-green-600 font-semibold hover:text-green-700 transition-colors"
              >Sign up here</a
            >
          </p>

          <div class="inline-flex items-center justify-center w-full mb-6">
            <hr class="w-full h-px bg-gray-600 border-0" />
            <span
              class="absolute px-3 font-medium -translate-x-1/2 left-1/2"
              style="background-color: #faf0e6"
              >or</span
            >
          </div>
          <button
            type="button"
            class="bg-white bg-no-repeat h-12 text-black rounded-lg shadow-md border hover:bg-gray-50 transition-colors"
            style="
              padding: 12px 16px 12px 42px;
              background-position: 12px 15px;
              font-family: 'Roboto', sans-serif;
              background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
            "
          >
            Sign in with Google
          </button>
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
  </body>
</html>
