@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Lora", serif;
    background-color: #faf0e6;
    @apply min-h-screen flex flex-col;
  }

  main {
    @apply flex justify-center;
  }

  .content {
    @apply md:w-3/5 w-full pl-4 pr-4 flex flex-col items-center;
  }

  h1 {
    @apply text-3xl font-semibold underline underline-offset-4 decoration-green-600 mb-8 uppercase;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  input,
  select {
    @apply w-full md:w-96 h-12 rounded-lg outline outline-2 text-base px-4;
  }

  .button,
  input[type="submit"] {
    @apply bg-green-600 text-white font-semibold text-xl rounded-lg outline outline-black cursor-pointer hover:bg-green-700 transition-colors px-6;
  }

  [x-cloak] {
    display: none !important;
  }

  .written {
    font-family: "IM Fell English", serif;
    @apply italic;
  }

  .swiper {
    @apply w-60 h-80;
  }

  .swiper-slide {
    @apply flex items-center justify-center text-black font-semibold text-center text-lg rounded-xl;
  }

  .swiper-slide {
    @apply outline outline-2;
    background-color: #faf0e6;
  }

  .img-SouthKorea{
    width: 124px;
  }
}
