@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Lora", serif;
    background-color: #faf0e6;
  }

  main {
    @apply flex justify-center;
  }

  h1 {
    @apply text-3xl font-semibold underline underline-offset-4 decoration-green-600 mb-8;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  input {
    @apply rounded-lg outline outline-2;
  }

  [x-cloak] {
    display: none;
  }

  .content {
    @apply md:w-3/5 w-full ml-4 mr-4;
  }

  .written {
    font-family: "IM Fell English", serif;
    @apply italic;
  }
}
